body{
    position:absolute;
    background-color: #52C1B3;
    font-family: 'Recursive', sans-serif;
}

.headerbg{
    position:absolute;
    border-style: solid;
    border-radius: 5px;
    margin-top: 5px;
    height: 75px;
    width: 1500px;
    background-color: #318CE7;
    z-index: -1;
}

.headerbg img{
    position:absolute;
    margin-top: 5px;
    margin-left: 5px;
    transform: rotate(20deg);
    width:4%;
}

h1{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
    color: #f6f8f9;
    border-bottom: solid;
    border-color:#1976D2;
    font-size: 250%;
}

.menu{
    margin-left: -31px;
    margin-top: -27px;
}
.menu li{
    display:inline;
    border-right:solid;
    border-bottom:solid;
    padding-left:64px;
    padding-right: 64px;
    border-color:#1976D2;
    background-color:#f6f8f9; 
    border-width: 2px;
    font-size: 200%;

}

h2{
    background-color: #f6f8f9;
    top:70px;
    border-radius: 10px;
    text-align: center;
}

p{
    font-size:20px;
    background-color:#f6f8f9;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{ 
    text-decoration: none; 
    color:black;
}

.feed{
    list-style: none;
}

.feed li{
    border-bottom: solid;
    border-width: 2px;
    border-color: #1976D2;
    margin-right: 20px;
}

#loginBox{
  display: inline;
  border-top: #2E856E 2px solid;
  border-right: #2E856E 2px solid;
  border-bottom: #B8D5CD 1px solid;
  border-left: #B8D5CD 1px solid;
  padding: 5px;
}

.dropmenu{
    margin:0;
    padding:0;
    width:100%;
    transform-origin: top;
    transition:0.5s;
    margin-top:7px;
}

.dropmenu li {
    list-style: none;
    padding:0;
}
.menuItem{
    display: inline-block;
    font-size: 20px;
    padding: 3px;
    padding-right:10px;
    background-color:#f6f8f9; 
    border:solid;
    border-color:#1976D2;
    font-size:20px;
}

button{
    font-family : inherit;
    font-size:25px;
    background-color: #52C1B3;
}

#signin{
    float:right;
}

.subject{
    width:500px;
}

.submit{
    background-color: #52C1B3;
    color: #FFFFFF;
    font-size:40px;
}

label{
    margin-right: 400px;
}

.comment{
    position:absolute;
    display:inline-block;
    margin-right: 50px;
}

.comment button{
    margin-top: 40px;
}

.fa-thumbs-up{
    margin-right: 50px;
}

.fa-thumbs-down{
    margin-left: 50px;
}
.fa-thumbs-up:hover{
    color:#318CE7;
}

.fa-thumbs-down:hover{
    color:red;
}

#likes{
    font-size: 50%;
    font-family: 'Recursive', sans-serif;
    margin-left: 5px;
}

#dislikes{
    font-size:50%;
    font-family: 'Recursive', sans-serif;
    margin-left: 5px;
}







